<div class="user-container">
<div class="log-out-cont">
  <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "log-out-button" %>
</div>
    <%if @users.empty?%>
        <h1>There are no users yet</h1>
    <%end%>
    <%@users.each do |user|%>
        <a href="/users/<%= user.id%>">
            <%= render partial: 'shared/user_card', locals: {user: user} %>
        </a>
    <%end%>
</div>
