<div class="user-card">
    <div class="user-image">
        <img src="<%= user.photo %>" alt="<%= user.name %>">
    </div>
    <div class="user-content">
        <div class="name">
            <h3>
                <%= user.name %>
            </h3>
        </div>
        <div class="num-posts">
            <span>
               number of posts: <%= user.posts_counter %> posts
            </span>
        </div>
    </div>
</div>