<div id="<%= dom_id title %>">
  <p>
    <strong>Text:</strong>
    <%= title.text %>
  </p>

  <p>
    <strong>Comments counter:</strong>
    <%= title.comments_counter %>
  </p>

  <p>
    <strong>Likes counter:</strong>
    <%= title.likes_counter %>
  </p>

</div>
